html{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;

}

body{
  color: white;
  font-family: Courier New, monospace;
  margin: 0px;
  padding: 0px;
}
button, a{
  cursor: pointer;
  text-decoration: none;
  color: grey;
  transition: .8s;
}

main{
  background-image: url(web-img2.jpeg);
  background-repeat: no-repeat;
  background-size: 100%; 
  background-attachment: fixed;
  margin: 0 auto;
  padding-top: 14vw;
  padding-bottom: 17vw;
  text-align: center;
  line-height: 2vw;
  background-color: none;
}


menu{
  display: none;
  position: absolute;
}

header{
  background-color: black;
  height: 80px;
  position: relative;
  border-bottom: 1px solid blue; 
}
main h1{
  font-size: 4.5vw;
  font-family: Courier New, monospace;
  font-weight: lighter;
  letter-spacing: 1.8vw;
  animation: showup 8s ease-in-out infinite alternate;
  
}

main p{
  letter-spacing: 0.5vw;
  font-style: italic;
  font-size: 1.3vw;
 
}
.welcome-p{
  animation: reveal 2s ease-in infinite;
}
.profile-img{
  height: 4vw;
  border-radius: 3vw;
  opacity: .8;
  animation: floater 5s ease-in-out infinite alternate;

}

#container {
	position: absolute;
	top: 89%;
	left: 52%;
	transform: translate(-50%, -50%);
  opacity: .8;
  z-index: 1;
}
.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fbc6c6;
  margin-top: -75px;
  opacity: 1;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}



#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}



#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 10vw;
  width: 12vw;
  border-radius: 0 0 150px 150px;
  background-color: #fbc6c6;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 12vw;
  width: 10vw;
  background-color: #a28888;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 3.5vw;
  width: 4vw;
  border-radius: 0 150px 150px 0;
  border: 15px solid #fbc6c6;
  margin-bottom: 95px;
  margin-left: 150px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 1vw;
  width: 12vw;  
  border-radius: 0 0 100px 100px;
  background-color: #a3a1a1;
  margin-top: -55px;
  
  z-index: 2;
}

#shadow {
  height: .4vw;
  width: 12vw;
  border-radius: 50%;
  margin-top: -43.5px;
  background-color: #7bb8d4;
}

/*profile animation*/
@keyframes floater {
  0%{
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) scale(1.4);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes reveal {
  0% {opacity:0;}
  20% {opacity:1; color: #fbc6c6;}
  50% {opacity:1; color: white;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@-webkit-keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

nav{
  padding-top: 2.8vw;
  width: 100%;
  background: rgb(0, 0, 37);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3px;
  box-shadow: -4px 5px 10px 0px white;
  border-bottom: 0.5px solid blue;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

/* #navigation:not(.sticky){
  position: absolute;
  bottom: px;
}

.sticky{
  position: absolute;
  top: px;
} */


/*end*/
nav a{
  text-decoration: none;
  color: white;
}

nav div:hover{
  border-bottom: 5px solid white;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.about-me{
  background-color: rgb(0, 0, 37);
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 0.5px solid blue;
  z-index: 10;
}
.about-me-grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
  column-gap: 1vw;
  padding-top: 0px;
  padding-bottom: 0px;
}

.about-me div{
  text-align: center;
}
.about-me h1{
  padding-top: 5vw;
}
.about-me p{
  font-weight: lighter;
  font-size: larger;
}
h1{
  font-size: 4vw;
  margin: 0px;
}
.about-me img{
  padding: 0px;
  margin: 0px;
  height: 60vw;
}

.about-me button{
  background-color: #534d01;
  border: none;
  border-radius: 14px;
  color: grey;
  padding: 4px 8px;
  
}

.about-me button:hover{
  background-color: #776f03;
  color: white;
  scale: 1.1;
}

.p-resume{
  padding-top: 40px;
}

.skills{
  padding: 0;
  margin: 0px;
  padding-top: 10vw;
  padding-bottom: 10vw;
  width: 100%;
  background-image: url(web-img1.webp);
  background-size: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.skills div{
padding-left: 3vw;
  
}
.skills ul{
 
  font-size: larger;
}
.skills span{
  font-weight: bold;
}

.work{
  background-color: #534d01;
  width: 98%;
  margin: 0px;
  padding: 0;
  border-bottom: 0.5px solid blue;
  padding-left: 2vw;
}
.work h1{
  text-align: center;
  padding-top: 2vw;
}


.projects{
  background-color: rgb(0, 0, 37);
  padding-bottom: 10vw;
  border-bottom: 0.5px solid blue;
}

.projects h1{
  text-align: center;
  padding-top: 2vw;
  
}
.projects a{
  text-align: center;
  padding: 4px 10px;
  border-radius: 15px;
}
.projects a:hover{
  color: #776f03;
  background-color: aliceblue;
}
.education{
  width: 100%;
  height: 80vw;
  background-image: url(me2.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.education h2{
  font-style: italic;
  margin: 0;
  text-align: center;
  padding-top: 50%;
}
 .h1{
  font-size: 5vw;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.h2{
  font-family: Snell Roundhand, cursive;
  font-size:  3vw;
}
.education div{
  position: relative;
  padding-left: 10vw;
}

.awards{
  background-color: rgb(0, 0, 37);
  border-bottom: 0.5px solid blue;
}
.awards div{
  padding-top: 10vw;
  text-align: center;
  padding-bottom: 5vw;
}
.awards ul{
  list-style-type: none;
}
.services{
  background-color: #534d01;
  padding-bottom: 4vw;
  border-bottom: 0.5px solid blue;
  padding-left: 2vw;
}
.services h1{
  font-size: 3.5vw;
}
.services-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5vw;
  padding-left: 2vw;
  padding-right: 10vw;
  padding-top: 5vw;
  text-align: left;
}
.services-grid li{
  list-style-type: square;
}


.contact{
  background-color: black;
  padding-bottom: 3vw;
  padding-left: 2vw;
}
.email:hover{
  padding: 2px 4px;
  color: white;
  scale: 2;
}

.left div{
  width: 20vw;
  
}

form{
  padding-right: 10vw;
}

input, textarea{
  background: transparent;
  border: none; 
  border-bottom: 1px solid white; 
  outline: none;
  width: 100%;
  color: white;
  margin-bottom: 10px;
}
input:hover, textarea:hover{
  background-color: grey;
}


form button{
  border: none;
  border-bottom: 1px solid black;
}
.social{
  display: flex;
  align-items: center;
  gap: 20px;
}
.twiter-icon{
  height: 30px;
  border-radius: 20px;
}
.ig-icon{
  height: 18px;
}
.fb-icon{
  height: 35px;
}
.in-icon{
  height: 18px;
  border-radius: none;
}
.footer-p{
  background-color: black;
  margin: 0px;
  text-align: center;
}